/* all style */
*{margin: 0;padding: 0;}
a{text-decoration: none;}
ul{list-style: none;}
body{background-color: #F6F6F6;}
i{font-style: normal;}
/* header */
header{background-color: #E3E4E5;height: 50px;color: #999999;}
header a{color: #999999;font-size: 18px;font-weight: bold;}
header ul{display:grid;grid-template-columns: 10% 90%;padding: 10px 250px;}
header ul li:nth-child(1){font-size: 20px;font-weight: bold;}
header ul li:nth-child(2){text-align: right;word-spacing: 10px;}
a:hover{color: red;}
header i{color: red;}
/* search */
.search{text-align: center;}
.search ul li:nth-child(1) input{color: #999999;padding: 10px;font-size: 18px;width: 400px;border-radius: 10px 0 0 10px;margin-top: 20px;}
.search ul li:nth-child(1) i{color:white;background-color: #D9534F;padding:14px 40px;border-radius: 5px;}
.search ul li:nth-child(1) i:hover{color: #999999;}
.search ul li:nth-child(2){color: #999999;padding-top: 5px;}
/* nav */
nav{text-align: center;word-spacing: 30px;padding-top:30px;padding-bottom: 20px;}
nav a{font-size: 22px;color: #555555;font-weight: bold;}
/* section */
section{display: grid;grid-template-columns: 300px auto;justify-content: center;}
section div:nth-child(1){background-color: #6E6568;color: white;line-height: 2em;margin-right: 10px;}
section div:nth-child(1) a:first-of-type{padding-left: 30px;}
section div:nth-child(1) a{color: white;}
section span:hover{background-color: #999999;}
section span a:hover{color: red;}
section div:nth-child(1) span{display: block;}
section ul li img{margin-top: 10px;}
section ul li img:nth-child(1){margin-right: 5px;}
@keyframes img{
    0% {background-image:url(../images/1.jpg)}
    25% {background-image:url(../images/2.jpg)}
    50% {background-image:url(../images/3.jpg)}
    75% {background-image:url(../images/4.jpg)}
    100% {background-image:url(../images/5.jpg)}
}
.backgroundimg{width: 790px;height: 340px;animation: img 10s linear;animation-iteration-count: infinite;}
/*  flashsale */
.flashsale{height: 72px;background-color: #E01222;width: 1090px;margin: auto;margin-top: 10px;position: relative;left: -5px;
}
.flashsale ul{display: grid;grid-template-columns: 50% 50%;justify-content: center;align-items: center;color: white;}
.flashsale ul:nth-child(1) img{padding: 15px;animation: time 0.2s alternate;animation-iteration-count: infinite;}
.flashsale ul li:nth-child(1) span:first-of-type{font-size: 28px;position: relative;top: -20px;}
.flashsale ul li:nth-child(1) span:last-of-type{position: relative;top: -20px;}
.flashsale ul li:nth-child(2){text-align: right;padding-right: 40px;}
.flashsale ul li:nth-child(2) span:nth-child(2n+1){color: #F90013;background-color: #440106;font-size: 26px;font-weight: bold;padding-left:5px;
border-radius: 5px;}
.flashsale ul li:nth-child(2) span:nth-child(2n){font-size: 26px;font-weight: bold;padding: 0 5px;color: #440106;}
@keyframes time{
    0% {transform: rotateZ(30deg);}
    100% {transform: rotateZ(-30deg);}
}
/* goods */
.goods{width: 1090px;margin: auto;position: relative;left: -5px;background-color: #FDFDFD;display: grid;grid-template-columns:20% 20% 20% 20% 20%;}
.goods span{display: block;}
.goods span:first-of-type{border-top: 1px solid #cccccc;padding-top: 5px;}
.goods span:last-of-type{padding-top: 20px;}
.goods span:last-of-type i:nth-child(1){color: red;font-size: 16px;}
.goods span:last-of-type i:nth-child(2){font-size: 20px;font-weight: bold;color: red;}
.goods ul li{padding: 20px;background-color: #FFFFFF;border: solid 1px #cccccc;margin: 20px;font-size: 10px;
    box-shadow:1px 1px 5px 5px #EBEBEB;color: #07988B;
 }
.float:hover{transform: translateY(-20px) ;transition: 1s linear ;}
/* computer */
.computer{height: 72px;background-color: #4488A7;width: 1090px;margin: auto;margin-top: 20px;position: relative;left: -5px;color: white;}
.computer ul{display: grid;grid-template-columns: 27% 73%;align-items: center;}
.computer ul li:nth-child(1){font-size: 28px;padding-top: 20px;padding-left: 20px;}
.computer ul li:nth-child(2){word-spacing: 10px;padding-top: 20px;}
.computer ul li:nth-child(2) a{font-size: 16px;padding: 5px;background-color: #6DA6BE;}
.computer a:hover{border: white 3px solid;color: white;}
/* secondgoods */
.secondgoods{width: 1090px;margin: auto;position: relative;left: -5px;background-color: #FFFFFF;display: grid;grid-template-columns:50% 50%}
.co{display: grid;grid-template-columns: 200px auto;}
.com{display: grid;grid-template-columns:50% 50%;}
.comp{display: grid;grid-template-columns:50% 50%;}
.compu{display: grid;grid-template-columns:30% 70%;border-right: 1px solid #cccccc;border-bottom: 1px solid #cccccc;}
.comput{display: grid;grid-template-columns:30% 70%;border-right: 1px solid #cccccc;padding-top: 30px;}
.comput span:first-of-type{color: #4488A7;font-weight: bold;font-size: 12px;}
.comput span:last-of-type{position: relative;top: 10px;font-size: 12px;}
.compu span:first-of-type{color: #4488A7;font-weight: bold;font-size: 12px;}
.compu span:last-of-type{position: relative;top: 10px;font-size: 12px;}
.co div:nth-child(2){padding: 20px 10px;}
.secondgoods img:hover{transform: translateX(-10px);transition: linear 1s;}
/* c */
.c{width: 1090px;margin: auto;position: relative;left: -5px;background-color: #FFFFFF;display: grid;grid-template-columns:50% 50%}
.c ul{display: grid;grid-template-columns:auto auto auto}
.c img:hover{transform: translateX(-10px);transition: linear 1s;}
/* eat */
.eat{height: 72px;background-color: #ECB226;width: 1090px;margin: auto;margin-top: 20px;position: relative;left: -5px;color: white;}
.eat ul{display: grid;grid-template-columns: 30% 70%;align-items: center;}
.eat ul li:nth-child(1){font-size: 28px;padding-top: 20px;padding-left: 20px;}
.eat ul li:nth-child(2){word-spacing: 10px;padding-top: 20px;}
.eat ul li:nth-child(2) a{font-size: 16px;padding: 5px;background-color:#EEB955;}
.eat a:hover{border: white 3px solid;color: white;}
.p{position: relative;top: -10px;}
#color{color: #ECB127;}
/* footer */
footer{background-color:#EAEAEA ;margin-top: 20px;}
footer ul:nth-child(1){display: grid;grid-template-columns: 25% 25% 25% 25%;padding: 20px 210px;}
footer ul:nth-child(1) li span{position: relative;top: 6px;}
footer ul:nth-child(1) li{background-image:url(../images/ico_service.png); background-repeat: no-repeat;height: 40px;text-indent: 40px;font-size: 20px;font-weight: bold;}
footer ul:nth-child(1) li:nth-child(1){background-position: 0px 0}
footer ul:nth-child(1) li:nth-child(2){background-position: 0px -43px}
footer ul:nth-child(1) li:nth-child(3){background-position: 0px -86px}
footer ul:nth-child(1) li:nth-child(4){background-position: 0px -129px}
footer ul:nth-child(2) p{display: block;}
footer div{border-top: #cccccc 1px solid;border-bottom: #cccccc 1px solid;line-height: 2em;padding-left: 130px;}
footer p{color: #767676;}
footer div span{color: #666666;font-weight: bold;font-size: 20px;}
.f{text-align: center;padding: 10px;}