section{width: 1040px;margin: auto;padding-top: 10px;}
.q{background-image: url(images/item-show-11.jpg);height:60px;border-radius: 50%;}
.w{background-image: url(images/item-show-12.jpg);height:60px;border-radius: 50%;}
.e{background-image: url(images/item-show-13.jpg);height:60px;border-radius: 50%;}
.goods{width: 1040px;margin: auto;padding-top: 10px;display: grid;grid-template-columns: 50% 50%;}
.ad{width: 1040px;margin: auto;padding-top: 50px}
/* .o:hover{border: 3px solid red;} */
.temp  li:hover{background-color: chocolate;}
.t span:hover{background-color: chocolate;}
.ad ul li:first-of-type{align-self: flex-start;}